<h1>Category Page</h1>
<div class="row">
  <div class="col-3" *ngFor="let p of products">
    <div class="card mb-3">
      <img [src]="p.thumbnail" class="img-fluid"/>
      <div class="card-body">
        <h3><a routerLink="/product/{{p.id}}">{{p.title}}</a> </h3>
        <p class="text-danger">{{p.price}}</p>
        <button class="btn btn-outline-danger">Add to card</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center mb-5 mt-3">
    <button (click)="loadMore()" type="button" class="btn btn-outline-primary">Load more</button>
  </div>
</div>
