<h1>{{className}}</h1>
<h2 [class]="textColor">Number of students: {{numberOfStudents}}</h2>
<h3 *ngIf="numberOfStudents==0" class="text-warning">No student in this class</h3>
<button type="button" (click)="addStudent()" class="btn btn-outline-danger mx-2">
 Add student</button>
<button type="button" (click)="removeStudent()" class="btn btn-outline-danger">
 Remove student</button>
<h2>Cac danh muc cac mat hang: </h2>
<ul>
  <li *ngFor="let c of categories">{{c}}</li>
</ul>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h2>{{product.name}}</h2>
        <p class="text-danger">{{product.price}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div *ngFor="let p of products" class="col-4">
      <div class="card">
        <img src="assets/images/iphone.jpg" class="img-fluid"/>
        <div class="card-body">
          <h2><a routerLink="/product/{{p.id}}"> {{p.name}}</a></h2>
          <p class="text-danger">{{p.price}}</p>
          <button *ngIf="p.qty>0" type="button" class="btn btn-outline-danger"> Add to cart</button>
        </div>
      </div>
    </div>
  </div>

