<div class="row">
  <div class="col">
    <input type="text" [(ngModel)] = "s" class="form-control" />
  </div>
  <div class="col">
    <button (click)="search()" class="btn btn-outline-primary">Search</button>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <h2>Tìm kiếm: {{s}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-3" *ngFor="let p of products">
    <div class="card mb-3">
      <img [src]="p.thumbnail" class="img-fluid"/>
      <div class="card-body">
        <h3><a routerLink="/product/{{p.id}}">{{p.title}}</a></h3>
        <p class="text-danger">{{p.price}}</p>
        <button class="btn btn-outline-danger">Add to cart</button>
      </div>
    </div>
  </div>
</div>
